:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-image: url(../public/LogoCafe.jpg);
  background-size: cover;
  background-position: center;
}
